<div class="row">
    <div class="span12">
        <div id="editor_wrapper">
            <div id="editor"><%= @obj %></div>
        </div>
        
        <form method="post">
            <input type="hidden" id="json" name="json" value="" />
            
            <div class="form-actions">
                <input type="submit" value="<%= @fresh_obj ? 'Create' : 'Save' %>" class="btn btn-large btn-primary" id="primary_button" />

                <span class="api_urls">
                    <input type="text" onclick="this.select();" value="http://x.json.mobi/<%= params[:key] %>">
                    <input type="text" onclick="this.select();" value="http://x.jsonp.mobi/<%= params[:key] %>">
                </div>
            </div>
        </form>
    </div>
</div>
