<div class="row">
    <div class="span12">
        <form method="post">
            <span class="control-group" id="json_wrapper">
                <textarea name="json" class="span12 json_box"><%= @obj %></textarea><br />
            </span>
            
            <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-large btn-primary" />
                <!-- <input type="button" value="Validate" class="btn btn-large" style="margin-left:10px;"/> -->
            </div>
        </form>
    </div>
</div>
