body {
    padding-top: 20px;
}

#editor_wrapper {
    position: relative;
    background: #141414;
    border: 1px solid #252525;
    padding: 12px 8px;
}

#editor {
    position: relative;
    height: 500px;
}

.api_urls {
    display: inline-block;
    position: relative;
    top: 5px;
}

.api_urls input {
    cursor: pointer;
    margin-left: 10px;
}