body {
    padding-top: 20px;
}

.json_box {
    font: 16px monaco, menlo, 'andale mono', 'courier new', sans-serif;
    height: 400px;
}

.api_urls {
    display: inline-block;
    position: relative;
    top: 5px;
}

.api_urls input {
    cursor: pointer;
    margin-left: 10px;
}